{% extends 'base_s.html' %}

{% block content %}
  <h3>Join a Group for {{ course.title }}</h3>
  <form method="POST">
      <div class="form-group">
          <label for="group_code">Enter your group name:</label>
          <input type="text" class="form-control" name="group_code" placeholder="e.g. {{ course.code }}-01" required>
      </div>
      <button type="submit" class="btn btn-primary">Join Group</button>
  </form>

  {% if group is defined and group %}
  <div class="alert alert-info mt-3">
    Group "{{ group.group_code }}" selected.
  </div>
{% endif %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger mt-3">{{ message }}</div>
  {% endfor %}
{% endblock %}