body {
  margin: 0;
  height: 100vh; /* viewport height */
  text-align: center;
  display: table;
  width: 100%;
}

.form-container {
  display: table-cell; /* Center the form vertically */
  vertical-align: middle; 
}

.group-name,
.title,
.description {
  margin: 0 auto 20px auto; /* top, right, bottom, left */
  width: fit-content; /* Center the form horizontally */
}

/* group-name */
.group-name label,
.title label,
.description label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block; /* Make label block to take full width */
  text-align: left;
}

.group-name input {
  width: 300px;
  height: 40px;
  padding: 8px 10px;
  box-sizing: border-box; /* change box model to include padding and border in the element's total width and height */
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners */
}

/* title */
.title textarea {
  width: 500px;
  height: 100px;
  resize: none;
  padding: 8px 10px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* description */
.description textarea {
  width: 500px;
  height: 200px;
  resize: none;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* submit button */
.submit-button {
  border: none; /* Remove border */
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(202, 202, 202); 
  padding: 15px 32px; /* top and bottom padding, left and right padding */
  display: inline-block; /* Center the button */
  font-size: 16px;
  margin-top: 20px; /* Space between the button and the form */
  border-radius: 5px; 
  cursor: pointer; /* Changes the cursor to a pointer to show it's clickable */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Background changes, time to change, start slow mid fast end slow. transform refer hover. */
}

/* Hover effect */
.submit-button:hover {
  background-color: #10ab2d; /* Green when hovered */
  transform: scale(1.2); /* Slightly enlarges the button */
}

#advanced-options label {
    display: block;
    margin: 10px 0 5px;
}

#advanced-options input {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}
