<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Edit Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='FormStyle.css') }}">
</head>
<body>

<form action="{{ url_for('submit_edit', submission_id=submission.id) }}" method="post" enctype="multipart/form-data">

    <div class="group-name">
        <label for="Group_Name">Group Name:</label>
        <input type="text" id="Group_Name" name="Group_Name" required value="{{ submission.group_name }}">
    </div>

    <div class="title">
        <label for="Title">Title:</label>
        <textarea id="Title" name="Title" required>{{ submission.title }}</textarea>
    </div>

    <div class="description">
        <label for="Description">Description:</label>
        <textarea id="Description" name="Description" required>{{ submission.description }}</textarea>
    </div>

    <label for="Upload_file">Upload file:</label>
    {% if submission.filename %}
        <p>Current file: <a href="{{ url_for('download', filename=submission.filename) }}">{{ submission.filename }}</a></p>
        <p>If you want to replace, upload a new file:</p>
    {% endif %}
    <input type="file" id="Upload_file" name="Upload_file" accept="image/png, image/jpeg, application/pdf"><br><br>

    <hr>

    <button class="submit-button" type="submit">Update</button>
</form>

</body>
</html>
