<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

</style>

<body>
<div style="text-align: center;">
    <h1>Create Student Submission Form</h1>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Put your name here" maxlength="50" style="width: 300px" required><br><br>

        <label for="Student ID">Student ID:</label>
        <input type="text" id="Student_ID" placeholder="Put your Student ID here" maxlength="50" required><br><br>

        <label for="Topic Proposal">Topic Proposal:</label><br>
        <textarea id="Topic_Proposal" placeholder="Please provide a brief description about your topic."  
        style="width: 400px; height: 100px; resize: none;"></textarea><br><br>

        <label for="Description">Description of the topic:</label><br>
        <textarea id="Description" placeholder="Please provide brief description about your topic." style="width: 400px; height: 250px" required></textarea><br><br>

        <label for="Upload file">Upload file:</label>
        <input type="file" id="Upload_file" accept="image/png, image/jpeg"><br><br> 
        
        <button type ="Add...">Add...</button><br><br>
        <button type ="Publish">Publish</button><br><br>
        
    </form>
</div>
</body>
</head>

</html>