<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Homepage-Style.css">
        <title>Welcome!</title>
    </head>

    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="https://ebwise.mmu.edu.my/my/courses.php"><button>eBwise</button></a></li>
                    <li><a href="https://clic.mmu.edu.my/psp/csprd/?cmd=login&languageCd=ENG&"><button>CLiC</button></a></li>
                    <li><a href="https://online.mmu.edu.my"><button>Online Portal</button></a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h2>My Courses</h2>
            <div>Course 1120</div>
            <div>Course 1250</div>
            <div>Course 1360</div>
        </section>

    </body>

</html>