<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to CSS in static folder -->
    </head>

    <body>
        <div class="circle">
            <i style="--clr:#c54124;"></i>
            <i style="--clr:#af17ce;"></i>
            <i style="--clr:#0b6b91;"></i>

            <div class="login" id="login">
                 <h1>Login</h1>

                 <!-- Add a form element -->
                <form method="POST" action="{{ url_for('login') }}">

                    <div class="input-A">
                        <input type="text" class="form-control" name="user_input" id="user_input" placeholder="Enter username or email" required>
                    </div>

                    <div class="input-A">
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>


                    <div class="input-A">
                        <input type="submit" id="LoginButton" value="Login">
                    </div>

                    {% for message in get_flashed_messages() %}
                        <div class="mt-2 text-danger" style="font-size: 0.85rem;">{{ message }}</div>
                    {% endfor %}
                    
                </form>

                    <div class="links">
                        <a href="/Signup">Sign up</a>
                    </div>
            </div>
        </div>
    </body>
</html>