<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Styles.css">
    </head>

    <body>
        <div class="circle">
            <i style="--clr:#c54124;"></i>
            <i style="--clr:#af17ce;"></i>
            <i style="--clr:#0b6b91;"></i>

            <div class="login" id="login">
                 <h1>Login</h1>
                    <div class="input-A">
                        <input type="text" id="ID" placeholder="Student ID">
                    </div>

                    <div class="input-A">
                        <input type="password" id="password" placeholder="Password">
                    </div>

                    <div class="input-A">
                        <input type="submit" id="LoginButton" value="Login">
                        <script src="Script.js"></script>
                    </div>

                    <div class="links">
                        <a href="#">Forget Password</a>
                        <a href="Signup.html">Sign up</a>
                    </div>
            </div>
        </div>
    </body>
</html>