<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Form style.css">

</head>

<body>
<div style="text-align: center;">
<h1>Form</h1>
    <form>
        <div class="group-name">
            <label for="Group_Name">Group Name:</label>
            <input type="text" id="Group_Name">
        </div>

        <div class="title">
            <label for="Title">Title:</label>
            <textarea id="Title"></textarea>
        </div>

        <div class="description">
            <label for="Description">Description:</label>
            <textarea id="Description"></textarea>
        </div>

        <label for="Upload file">Upload file:</label>
        <input type="file" id="Upload_file" accept="image/png, image/jpeg"><br><br> 
        
        <button class="submit-button">Submit</button>
            



    </form>




</body>

