<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}"> <!-- Link to CSS in static folder -->
    </head>

    <body>
        <div class="circle">
            <i style="--clr:#abc546;"></i>
            <i style="--clr:#7d6188;"></i>
            <i style="--clr:#0b6b91;"></i>

            <div class="login" id="SignUp">
                 <h1>Sign Up</h1>

                    <div class="input-A">
                        <input type="text" id="Username" placeholder="Username">
                    </div>

                    <div class="input-A">
                        <input type="password" id="password" placeholder="Password">
                    </div>

                    <div class="input-A">
                        <input type="password" id="ConfirmPassword" placeholder="Confirm Your Password">
                    </div>

                    <div class="input-A">
                        <input type="submit" id="SignUpButton" value="Sign Up">
                    </div>

                    <div class="links">
                        <a href="/">Login</a>
                    </div>
            </div>
        </div>
    </body>
</html>
