{% extends 'base_s.html' %}

{% block content %}
    <div class="container">
        <h1>Submission Details</h1>
        {% if answers %}
            {% for answer in answers %}
                <div class="field-answer">
                    <span class="field-name">{{ fields[answer.field_id].field_name if fields.get(answer.field_id) else "Unknown Field" }}:</span>
                    <span class="field-value">{{ answer.value }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No answers submitted yet.</p>
        {% endif %}
        <p><strong>Submitted At:</strong> {{ submission.date.strftime('%d %B %Y %H:%M:%S') }}</p>
        <span class="badge badge-primary">Status : {{ submission['status'] }}</span>

        <hr>
        <h2>Lecturer Comments</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong> ({{ comment.timestamp.strftime('%d %B %Y %H:%M:%S') }}):<br>
                    {{ comment.text }}
                </div>
            {% endfor %}
        {% else %}
            <p>No comments from lecturer yet.</p>
        {% endif %}
    </div>
{% endblock %}